@import "tailwindcss";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.react-calendar{
  width: 100% !important;
  border:none !important;
  font-family: "Inter", sans-serif !important;
}
.react-calendar__tile--active{
  background-color: #C3EBFA !important;
  color: black !important;
}
.react-calendar__navigation__label__labelText{
  font-weight: 600 !important;
}
@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}
